# node_modules for frontend and backend
auth-frontend/node_modules/
auth-backend/node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Dist/Build
auth-frontend/build/
auth-backend/build/
auth-backend/dist/

# Env files
*.env
